body {
    background-color: gray;
    font-family: Arial;
}

.box {
    background: white;
    width: 300px;
    padding: 10px;
    margin: 100px auto;
}

h1 {
    text-align: center;
}

input {
    width: 70%;
}

button {
    background: blue;
    color: white;
}

li {
    margin-top: 5px;
}